@import "tailwindcss";

@font-face {
  font-family: "Brandon";
  src: url("/apps/abbott/mito_vs_realidad_dayamineral/fonts/Brandon_reg.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Brandon";
  src: url("/apps/abbott/mito_vs_realidad_dayamineral/fonts/Brandon_blk.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Brandon";
  src: url("/apps/abbott/mito_vs_realidad_dayamineral/fonts/Brandon_light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@theme{
  --color-amarillo-abbott: #ffd100;
  --color-morado-abbott: #b50064;
  --color-futzia-abbott: #e22a31;
  --color-orange-abbott: #e86408;

  --font-brandon: "Brandon", sans-serif;
  --font-georgia: Georgia, serif;

  --breakpoint-xs: 26rem;
}