---
import Header from '@/components/Header.astro';
import { URL_BASE } from '@/config';
import Layout from '@/layouts/Layout.astro';
---

<Layout>
	<div class="min-h-screen flex flex-col" style={`background-image: url(${URL_BASE}/backgrounds/bg_home.webp); background-size: cover; background-position: center;`}>
		<Header/>
	</div>
</Layout>
